body{
    font-family: "Montserrat-Black", sans-serif;
}
#head{
    background-color: #fa425e;
    color: rgb(236, 230, 230); 
}
.container-fluid{
    padding: 2.5% 5% 12%; 
}
.navbar {
    padding-bottom: 4.5rem;
  }
  .navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    font-weight: bold;
  }
  .nav-item {
    padding: 0 15px;
  }
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(230, 230, 230) !important;
  }
  .nav-link:hover {
    color: rgb(255, 255, 255) !important;
  }
  h1 {
    font-family: "Montserrat-black", sans-serif;
    font-weight: 750;
    font-size: 3rem;
    line-height: 1.5;
  }
  .title-image {
    width: 50%;
    transform: rotate(18deg);
    position: absolute;
    right: 10%;
    z-index: 0;
  }
  
  @media (max-width: 1000px) {
    #title {
      text-align: center;
    }
  
    .title-image {
      transform: rotate(0deg);
      position: static;
      margin: 0 auto;
      width: 70%;
    }
  }
  .download-button {
    margin: 5% 3% 5% 0;
  }

  #properties {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  
  .properties-box {
    text-align: center;
    padding: 5%;
  }
  
  h3 {
    font-family: "Montserrat-black", sans-serif;
    font-weight: 750;
    font-size: 1.5rem;
  }
  .icon {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #ff4c68;
  }
  
  p {
    color: #8f8f8f;
  }

  #reviews {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
  }
  .reviews-img {
    margin: 25px;
    width: 20%;
    border-radius: 100%;
  }
  h2 {
    font-family: "montserrat-black", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  #press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
  }
  
  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
  .carousel-item {
    padding: 7% 15%;
  }
  #pricing {
    padding: 15%;
    text-align: center;
  }
  
  .pricing-col {
    padding: 4% 2%;
  }
  
  #cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 10% 20% 5%;
  }
  
  .cta-text {
    font-family: "Montserrat-black", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
  }
  
  #footer {
    text-align: center;
    background-color: #fff;
    padding: 8% 20% 4%;
  }
  
  .footer-icon{
    color: grey;
    padding: 18px 10px;
  }